*{
    transition: all 0.2s;
    font-family: 'Open Sans', sans-serif;
}

html, body , .bginicio{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

body{
    overflow-x: hidden;
}

li{
    list-style: none;
}


.bginicio{
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    z-index: 0;
    height: 800px;
}

/* ############## Menu ##############*/

.menu{
    width: 100%;
    height: 50px;
    background: #008077;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.menu *{
    display: inline-block;
    vertical-align: middle;
}

.buscdorMenu{
    width: calc(100% - 220px);
    height: 50px;
    padding-top: 12px;
    text-align: center;
}

#buscadorTop{
    color: #fff;
}

.logoMin{
    width: 118px;
    vertical-align: middle;
    margin-bottom: 15px;
    margin-left: 23px;
    cursor: pointer;
    padding-top: 7px;
}

.logoMin img{
    width: 100%;
}

.buscdorMenu input{
    width: 300px;
    border: none;
    border-bottom: 1px solid #1db383;
    color: #fff;
    background: transparent;
    margin-top: 0px;
}

.buscdorMenu input:focus{
    background: #00a097;
    border-bottom: 1px solid #1db383;
}

.buscdorMenu input::placeholder{
    color: #fff;
}
.buscdorMenu input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

.buscdorMenu input::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}

#buscarMenu{
    color:#FFF;
    font-size: 1.5em;
    margin-top: -9px;
    cursor: pointer;
}

.letraChicaObjetivos{
    font-size: 0.9em;
    color: #937e2d;
    padding: 10px;
}

.especBuscador{
    width: 300px;
    height: 50px;
    background: #fff;
    display: block;
    position: fixed;
    left: calc(50% - 132px);
    top: 0;
    border: 1px solid #008077;
    text-align: center;
    z-index: 10;
}

.logoPatrocinadorMenu{
    width: 56px;
    margin-top: -17px;
}

.logoPatrocinadorMenu img{
    width: 100%;
    margin-top: 7px;
}
.menuDesplegable{
    width: 300px;
    height: 100%;
    background: #28b5ab;
    color: #fff;
    position: fixed;
    left: -300px;
    top: 0;
    z-index: 1000;
}

.infoPerfil1{
    text-align: center;
    font-size: 1em;
    margin-top: 10px;
    width: 80%;
    display: inline-block;
}

.infoPerfil1 *{
    display: inline-block;
    vertical-align: middle;
 }

.fotoPerfilMenu{
    width: 45px;
    border-radius: 100%;
    margin-right: 10px;
}

#cerrarMenuPP{
    display: inline-block;
    font-size: 1.6em;
    vertical-align: middle;
}

#cerrarMenuPP:hover{
    cursor: pointer;
    font-size: 1.8em;
}

.btnsMenuIz{
    display: block;
    margin-top: 17px;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 164px);
    vertical-align: top;
}


.btnsMenuIz::-webkit-scrollbar{
    background: #1c4c49;
}
.btnsMenuIz::-webkit-scrollbar-thumb {
    background: #40cbc8;
}

.btnMenuIz{
    width: 100%;
    padding: 7px;
    padding-left: 30px;
}


.btnMenuIz i{   font-size: 1.3em;}
.btnMenuIz span{    font-size: 1.2em;}

.btnMenuIz:hover{
    background: #3acece;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 15px #30a2a2;
}


.btnMenuIzDestacado{
    background: #46dc97;
}

.cerrarCuenta:hover{
    background: #c53a29 !important;
    box-shadow: 0 0 15px #30a2a2;
}

.btnMenuIzDonar{
    background: #95a73f;
    margin: 20px 0;
}

.btnMenuIzDestacado:hover , .btnMenuIzDonar{
    background: #c6dc4f ;
    box-shadow: 0 0 15px #30a2a2;
}

.btnMenuIzSelected{
    background: #3acece;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 15px #30a2a2;
}

.tiempoRestanteCuenta{
    font-size: 1em;
    text-align: center;
    margin: 10px;
    font-weight: bold;
}

.btnExtenderMembresia{
    width: 200px;
    border-radius: 3px;
    background: #2fdaa3;
    text-align: center;
    padding: 6px;
    margin-left: 51px;
    cursor: pointer;
}

.btnExtenderMembresia:hover{
    transform: scale(1.05);
    background: #3ef8be;
    color: #5e859c;
    font-weight: bold;
    box-shadow: 0 0 15px #30a2a2;
}

.modalPerfil{
    width: calc(100% - 300px);
    height: calc(100% - 100px);
    background: #fff;
    position: fixed;
    top: 50px;
    left: -100%;
    z-index: 999;

}

.contModalOptons{
    position: relative;
    width: 100%;
    height: calc(100% - 90px);
    margin: 6px;
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}

.contModalOptonsB{
    margin: 5px;
}
.contModalOptionsTabs{
    display: none;
}

.contModalContiguo{
    display: block;
    padding: 10px;
}

.contModalContiguo span{
    color: #1db383;
    font-weight: bold;
    margin: 10px;
    display: inline-block;
}

.modalSpanBlock{
    color: #1db383;
    font-weight: bold;
    margin: 10px;
    display: block!important;
}

.contImgDelPerfil{
    width: 245px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.OAimgCuerpoCompleto{
    width: 244px;
    height: 350px;
    text-align: center;
    position: relative;
}

.hoverCambiar , .hoverCambiarVideo{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 128, 119, 0.47);
    padding-top: calc(50% - 0.6em);
}

.hoverCambiar span , .hoverCambiarVideo span{
    font-size: 1.2em;
    width: 100%;
    display: block;
    text-align: center;
    color: #fff;
    margin: 0;
}

.hoverCambiar:hover , .hoverCambiarVideo{
    opacity: 1;
    cursor: pointer;
}

.OAimgCuerpoMedio{
    position: relative;
    width: 244px;
    height: 244px;
    text-align: center;
}

.OAimgSocial{
    position: relative;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-left: calc(50% - 50px);
}
#OAimgCP , #OAimgCM , #OAimgS{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btnOAm , .btnOAmDisponible{
    display: block!important;
    padding: 7px;
    background: #26c1b6;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    margin: 6px;
    border-radius: 3px;
    opacity: 0.5;
    width: 150px;
    margin-left: calc(50% - 75px);
}

.btnOAmDisponible{
    opacity: 1;
}

.btnOAm:hover , .btnOAmDisponible:hover{
    background: #2df8ed;
    transform: scale(1.05);
}

.formsMiPerfil{
    width: 500px;
    margin: 25px;
    display: block;
}

.miSliderMenu{
    width: 90%;
    margin-left: 5%;
}

.filtroSliderMiPerfil{
    padding-top: 13px;
    width: 100%;
    text-align: center;
}

.cerrarMoldaPerfil{
    position: absolute;
    left: calc(100% - 65px);
    top: 17px;
}

.cerrarMoldaPerfil i{
    color: #008077;
    font-size: 2em;
    cursor: pointer;
}

.cerrarMoldaPerfil i:hover{
    font-size: 2.5em;
    color: #00c6bd;
}

.objetivosAsks{
    width: 450px;
    margin-top: 10px;
}
.objetivosAsks * {
    display: inline-block;
}

.monedaPretenciones{
    font-size: 1.3em;
    color: #53cc35;
    font-weight: bold;
}

.objetivosAsks span{
    color: #1db383;
    font-weight: bold;
}



.objCarrera{
    display: block;
    width: 422px;
    margin: 0px 26.9688px 0px 0px;
    height: 145px;
    outline: 0;
    resize: none;
}

.clubesSelection{
    display: block;
}

.clubSelector{
    display: block;
    padding: 10px;
    cursor: pointer;
}

.clubLegible{
    display: inline-block;
    width: 150px;
    height: 230px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 11px;
    margin-top: 6px;
}

.clubLegible:hover{
    transform: scale(1.05);
    box-shadow: 0 0  15px #b7b7b7;
}

.clubLegible span{
    width: 100%;
    text-align: center;
    display: block;
}

.contCLBimg{
    width: 125px;
    margin: 12px;
}

.contCLBimg img{
    width: 125px;
    height: 125px;
}

.elegido{
    display: block;
    text-align: center;
}

.boxNeutro{
    font-size: 1.5em;
    color: #19a79d;
}

.boxElegido{
    font-size: 1.5em;
    color: #71ffbe;
}

.bloqueModalGenerico{
    width: 100%;
    max-width: 425px;
}

.miVideoPresentacionEdit{
    width: 100%;
    max-width: 590px;
}

#previewVideoUser{
    display: none;
}

/* ########## Menu Inferior ######## */
.menuInferior{
    position: fixed;
    height: 50px;
    left: calc(100% - 517px);
    background: #fff;
    top: calc(100% - 50px);
    z-index: 1000;
    border-top: 1px solid #008077;
    border-left: 1px solid #008077;
}

.btnMenuInf{
    width: 100px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    height: 50px;
    position: relative;
}

.circuloNot{
    position: absolute;
    width: 25px;
    height: 25px;
    background: #c6c62a;
    color: #fff;
    left: 66%;
    top: -21%;
    border-radius: 100%;
    line-height: 25px;
}

.btnMenuInf i , .btnMenuInf span{
    color: #1db383;
    display: block;
}

.btnMenuInf i{
    margin-top: 5px;
}
.btnMenuInf span{
    font-size: 0.83em;
}

.userChat{
    position: relative;
    width: 36px;
    height: 36px;
    padding-top: 7px;
    margin-left: 31px;
}

.userChat img{
    width: 100%;
    border-radius: 100%;
}

.estadoChatMI{
    position: absolute;
    top: 7px;
    left: 18px;
    width: 10px !important;
    height: 10px !important;
}

.coverNegro{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 995;
    display: none;
    background: rgba(0, 0, 0, 0.49);
}

.chatParteSuperior{
    display: block;
}

.menuInferior , .chatsDesplegables {
    display: none;
}

.listaDeContactos{
    overflow-y: auto;
    overflow-x: hidden;
}

/* ############## Home ##############*/
.centroHome{
    width: 400px;
    height: 335px;
    margin-left: calc(50% - 200px);
    margin-top: 200px;
    filter:  brightness(110%);
}

.logoHome{
    width: 100%;

}
.btnsHome , .btnGenericoInline , .btnModalCentral{
    width: 150px;
    height: 35px;
    border-radius: 3px;
    background: #008077;
    color: #fff;
    line-height: 35px;
    text-align: center;
    margin: 20px 0;
    margin-left: calc(50% - 75px);
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}

#btnsLogin{
    display: block;
    text-align: center;
    margin-top: 20px;
}

#btnOlvideCuenta{float: left;text-decoration: none}
#btnIniciarSesion{float: right;text-decoration: none}

.btnGenericoInline{
    display: inline-block;
    vertical-align: middle;
    width: auto;
    padding: 0 22px;
    margin: 0 0;
}

.btnsHome:hover{
    background: #fff;
    color: #008077;
    transform: scale(1.1);
}


.contenidoModal .btnsHome:hover , .btnGenericoInline:hover{
    color: #fff;
    background:  rgba(0, 182, 173, 0.58);
    transform: scale(1.1);
}

.btnModalCentral:hover{
    color: #fff;
    background: rgba(0, 212, 203, 0.58);
    transform: scale(1.1);
}

#btnsUsuario{
    float: left;
    height: 50px;
    color: #FFF;
}
#downMenu{
    font-size: 2em;
    padding: 5px;
    margin-left: 9px;
    cursor: pointer;
}

.patrocinadores{
    width: 100%;
    height: 160px;
    background: rgba(0, 0, 0, 0.51);
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    padding: 20px;
}
.pat-head{
    font-size: 1.4em;
    color: #FFF;
    font-weight: bold;
    width: 100%;
    height: 20px;
    background: rgba(0, 0, 0, 0.51);
    text-align: center;
    line-height: 52px;
}
.pat-item{
    height: 130px;
    display: inline-block;
    margin: 10px 5px;
}

.pat-item:hover{
    transform: scale(1.05);
}

.pat-item img{
    //width: 100%;
    height: 100%;
}

.pat-list{
    display: block;
    width: 100%;
    height: 35px;
    background: rgba(0, 0, 0, 0.51);
    text-align: center;
    padding-top: 8px;
}

.pat-selector{
    width: 15px;
    height: 15px;
    cursor: pointer;
    background: #2dbfb599;
    display: inline-block;
    margin: 0 5px;
}

.pat-elegidos{
    background: #1fe7ae;
    box-shadow: 0 0 15px #5dfdcf;
}

.eligeTipoCuenta{
    display: block;
    padding-top: 40px;
}

.item-tipo-cuenta{
    display: inline-block;
    text-align: center;
    width: 150px;
    height: 150px;
    padding: 15px;
    border: 1px solid #1cada3;
    margin: 20px;
    border-radius: 100%;
    padding-top: 37px;
    vertical-align: top;
}
.item-tipo-cuenta i {
    color: #1cada3;
    font-size: 2.5em;

}
.item-tipo-cuenta span {
    display: block
}

.item-tipo-cuenta:hover{
    cursor: pointer;
    background: #1cada3;
    transform: scale(1.05);
}

.item-tipo-cuenta:hover  .l-itc{
    color: #fff;
}

.formRegistro h2{
    color: #1db383;
}

#volverTipoRegistro{
    display: none;
    font-size: 2.2em;
    color: #07756d;
    cursor: pointer;
}

#volverTipoRegistro:hover{
    font-size: 2.6em;
}

.formTarjeta{
    padding: 10px 0;
}

.labelTarjeta{
    width: 100px;
    color: #008077;
    display: inline-block;
    font-weight: bold;
    text-align: right;
}

.montoBox{
    display: block;
}

.montoApagar{
    text-align: center;
    font-size: 2.5em;
    color: #16a79c;
}

#confirmarTarjeta{
    width: 200px;
    margin-left: calc(50% - 100px);
}

.formasDePago , .formaDePago{
    display: none;
}

.btnPaypal{
    padding: 5px;
    background: #166cd6;
    color: #fff;
    font-size: 1.4em;
    text-align: center;
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: calc(50% - 100px);
    margin-top: 20px;
    opacity: 0.8;
}

.btnPaypal:hover{
    color: #fff819;
    opacity: 1;
    transform: scale(1.05);
}

.pagoPorCaja{
    width: 150px;
    height: 150px;
    display: inline-block;
}

.pagoPorCaja img{
    width: 150px;
    height: 150px;

}

.pagoPorCaja:hover{
    transform: scale(1.05);
}


.tituloPD{
    color: #58d0c9eb;;
    font-size: 1.4em;
    text-align: center;
    font-weight: bold;
}

#pagoConDinero{
    text-align: center;
}

/* ############## Modal ##############*/
#modalRegistro, #modalLogin {
    width: 100%;
    height: calc(100% - 50px);
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 998;
    background: #fff;
    text-align: center;
}

.contenidoModal{
    width: 500px;
    height: calc(100% - 90px);
    margin: 6px;
    margin-left: calc(50% - 250px);
    text-align: left;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
}

#modalLogin .contenidoModal{overflow: hidden}

.contenidoModal::-webkit-scrollbar{
    background: rgba(0, 182, 173, 0.18);
}
.contenidoModal::-webkit-scrollbar-thumb {
    background: rgba(0, 182, 173, 0.58);
}


.tituloModal{
    width: 100%;
}

.tituloModal h2 {
    margin: 5px;
}

.lineaModal{
    width: 250px;
    height: 7px;
    background: #008077;
}

.formModal{
    display: none;
}

#fotoUsuario{
    position: relative;
}

#fotoUsuario img{
    width: 110px;
    height: 110px;
    border-radius: 100%;
    margin: 16px;
    margin-left: calc(50% - 55px);
    border: 3px solid #909090;
    cursor: pointer;
    object-fit: cover;
}

#cambiarFotoRegistro{
    position: absolute;
    font-size: 2em;
    top: 68%;
    left: 54%;
    cursor: pointer;
}

#cambiarFotoRegistro:hover , #fotoUsuario img:hover #cambiarFotoRegistro{
    font-size: 2.3em;
}
.campoModal{
    display: block;
}

.footerModal{
    width: 100%;
    text-align: right;
    margin-right: 10px;
}

.volverInicio{
    width: 100%;
    font-size: 2.5em;
    cursor: pointer;
}

.volverInicio:hover{
    color: #dcca08;
    font-size: 3em;
}

.tabsMetodos{
    margin-top: 10px;
}

.tabsMetodos .tabPubUserOptionSelected , .tabsMetodos .tabPubUserOption{
    width: 32.5%;
    text-align: center;
}

.tabsMetodos .tabPubUserOptionSelected i {
    font-size: 2em;
    color: #008077;
}
.tabsMetodos .tabPubUserOptionSelected:hover .tabPubUserOptionSelected i{
    color: #fff;
}
.tabsMetodos .tabPubUserOption i {font-size: 2em;}

#advertenciaUpVideo{
    width: 100%;
    text-align: center;
    color: #c3aa14;
    font-size: small;
}
/* ############## perfil ##############*/

.perfilPP{
    position: absolute;
    left: 0;
    top: 50px;
    width: 400px;
    height: 1245px;
    background: rgb(40, 45, 60);
}

.imgPerfilPP {width: 100%;height: 572px;position: relative}

.imgPerfilPP img{ width: 100%;height: 100%}

.clasePersona{
    position: absolute;
    top: 270px;
    left: calc(100% - 75px);
    width: 150px;
    height: 35px;
    color: #FFF;
    background: #1db383;
    border-radius: 3px;
    text-align: center;
    line-height: 35px;
}

.nombrePerfilPP{
    display: block;
    font-size: 1.4em;
    width: 100%;
    margin-left: 26px;
    color: #fff;
    margin: 12px;
}

.nombrePerfilPP i{
    color: #73ef54;
}

.lineaNombrePP{
    width: 94%;
    height: 2px;
    background: #1db383;
    margin-left: 13px;
    margin-top: -6px;
}

.descripcionPerfilCampo{
    display: block;
    height: 38px;
}

.descripcionPerfilCampo:first-child{
    margin-top: 15px;
}
.perfilCampoDes{
    color: #fff;
    font-weight: bold;
    margin-left: 22px;
}

.campoPerfil{
    vertical-align: middle;
    margin-left: 8px;
}

.campoPerfil img{
    width: 33px;
}

.campoPerfil span{
    color: #ececec;
}

.descripcionPerfilCampo * , .campoPerfil *{
    display: inline-block;
}

.contenidoPerfil{
    width: calc(100% - 404px);
    min-height: 1045px;
    margin-left: 400px;
}

.followPerfil{
    display: block;
    width: 100%;
    padding: 8px;
    height: 370px;
    padding-left: 25px;
}

.followPerfil *{
    vertical-align: top;
}

.sobrePerfil{
    width: calc(100% - 646px);
    display: inline-block;
}

.perfilSocialOption{
    padding-top: 42px;
}

.perfilSocialOption h3{
    line-height: 0;
    font-weight: 500;
    margin-left: 10px;
}

.perfilSocialOption *{ display: inline-block}

.fotoPerfilPP{
    width: 35px;
    border-radius: 100%;
}

.btnOpcionFollow , .btnTimeline , .btnCrearPub{
    height: 35px;
    border-radius: 3px;
    background: #1dbd7b;
    min-width: 100px;
    color: #fff;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    float: right;
    margin-right: 14px;
}

.btnOpcionFollow:hover , .btnCrearPub:hover{
    background: #648bc8;
    transform: scale(1.1);
}

.btnCrearPub{
    width: auto;
    max-width: 187px;
    float: none;
    display: block;
    padding: 4px;
    line-height: 28px;
}

.btnTimeline{
    width: 275px;
    margin-top: 39px;
    background: #008077;
}

.btnTimeline:hover{
    transform: scale(1.05);
    background: rgba(0, 179, 170, 0.74);
}

.aboutMe{
    color: #b1b1b1;
    font-size: 0.95em;
    font-style: italic;
    padding: 12px;
    height: 126px;
}

.estadsiticasPerfil{
    display: block;
}

.estadsiticasPerfil span{
    margin: 20px;
    color: #6f6f6f;
}

.videoPresentacion{
    width: 590px;
    min-height: 300px;
    display: inline-block;
}

.videoPresentacion video{
    width: 100%;
}

.sinVideoMarco{
    width: 589px;
    height: 300px;
    position: relative;
    border: 2px solid #ccc;
}

.hoverCambiarVideo{
    padding-top: 30%;
}

.sinVideoMarco p{
    text-align: center;
    line-height: 281px;
    color: #8a8989;
    font-size: 1.5em;
}
.pubsUser , .tabsPubUser .tabsGeneric{
    display: block;
    width: 100%;
}

.pubsUser{
    padding: 8px;
    padding-left: 25px;
}

/* ############ Publicaciones #############*/

.contCrearPublicacion{
    width: 100%;
    min-height: 500px;
    margin-top: 50px;
}

.tabPubUserOption , .tabPubUserOptionSelected , .tabGenericOption, .tabGenericOptionSelected{
    display: inline-block;
    padding: 5px 25px;
    border-bottom: 1px solid #ececec;
    color: #777;
    cursor: pointer;
}

.tabPubUserOptionSelected , .tabGenericOptionSelected{
    border-bottom: 1px solid #1db383;
    color: #000000;
}

.tabPubUserOption:hover , .tabPubUserOptionSelected:hover , .tabGenericOption:hover, .tabGenericOptionSelected:hover {
    background: #1db383;
    border-bottom: 1px solid #c6c6c6;
    color: #fff;
}

.pubsContainer{
    padding: 15px;
    margin-bottom: 85px
}

.grid{
    width: 100%;
    opacity: 0.75;
}

.grid:hover{
    opacity: 1;
}
.grid-item {
    float: left;
    width: 350px;
    height: auto;
    margin-bottom: 40px;
    box-shadow:  0 0 10px #ececec;
}

.grid-contenido{
    width: 100%;
    padding-top: 6px;
}

.cargandoItems{
    display: block;
    text-align: center;
    width: 100%;
}

.sinPubs{
    margin: 10px;
    color: #3c3c3c;
    font-size: 1.2em;
}

#loadingGrid{
    width: 80px;
}

.cargandoItems span{
    color: #54afa8;}

.cargandoItems span , #loadingGrid {vertical-align: middle}

.estadoPrep{
    width: 10px;
    display: inline-block;
    vertical-align: top;
}


.estadoTxt{
    position: relative;
    width: calc(100% - 30px);
    display: inline-block;
    border-left: 1px solid #81afab;
    padding-left: 11px;
    padding-right: 15px;
    margin-left: 10px;
    margin-top: 1px;
    color: #353535;
}


.estadoPrep_a{
    position: absolute;
    left: 3px;
    color: #19b3a8;
    font-size: 2.5em;
    font-family: sans-serif;
}

.hashTags{
    display: block;
    padding: 8px;
    text-align: center;
}

.hashTagPub{
    color: #1db383;
    text-decoration: none;
    margin: 0 5px;
}

.hashTagPub:hover{
    color: #2e6da4;
}

.perfilPub , .btnAccionesPub{
    display: block;
    text-align: center;
    cursor: pointer;
}

.perfilPub *{
    display: inline-block;
    vertical-align: middle;
}

.perfilPub h3{
    margin-left: 7px;
}

.fechaPub{
    display: block;
    font-size: 1em;
    color: #5e5e5e;
    text-align: center;
}

.btnFollowPub{
    margin-top: 15px;
}

.btnAccionPub{
    display: inline-block;
    width: 32%;
    height: 55px;
}

.btnAccionPub:hover{
    background: #ceffeb;
}

.btnAccionPub *{
    display: block;
}

.btnAccionPub i{
    font-size: 2em;
    color: #2db388;
}


.btnAccionPub span{
    font-size: 0.85em;
    color: #5e5e5e;
    opacity: 0;
    display: none;
}


.bordeBtnAccionPub{
    border-right: 1px solid #00a097;
}

.pubImg , .pubVid{
    display: block;
    width: 100%;
    margin-top: 10px;
}

.pubImg img , .pubVid video{
    width: 100%;
}

/* ############## Crear publicacion ##############*/

.contCrearPublicacion {
    width: 500px;
    min-height: 500px;
    margin-top: 50px;
    margin-left: 15px;
}

.agregarIMGpub{
    width: 100%;
    min-height: 50px;
    display: block;
    text-align: center;
    padding: 5px;
    vertical-align: middle;
    border: 2px dashed #68e1ba;
    margin-top: 67px;
}

.agregarIMGpub span{
    line-height: 100px;
}

#txt_publicar{
    margin: 5px 0px;
    width: 100%;
    height: 100px;
    outline: 0;
    resize: none;
}

.hashTagContainers{
    width: 100%;
    min-height: 80px;
}

.quienPuedeVerPub{
    width: 100%;
    display: block;
}


.inputTxtPublicar{
    border: none;
    border-bottom: 1px solid #5e5e5e;
    min-width: 150px;
    outline: 0;
    margin: 6px 2px;
    font-size: 0.98em;
}

.inputTxtPublicar:hover{
    border-bottom: 1px solid #1dbd7b;
}

.btnHashtagMaker{
    padding: 7px;
    background: #1dbd7b;
    color: #fff;
    cursor: pointer;
}

.btnHashtagMaker:hover , .removeHashtag:hover{
    transform: scale(1.05);
}

.btnHashtagMaker * , .hashTagContainers *{
    display: inline-block;
}

.hashtagFinales{
    display: block;
}

.hashtagRemovable{

}

.hashtagMaker{
    margin: 10px 0;
}

.removeHashtag{
    color: #d0962b;
    font-size: 1.2em;
    line-height: 1.2em;
    cursor: pointer;
}

.pubEsPara{
    display: block;
}

.aclaracionNuevoPub{
    font-size: small;
    color: #bca23d;
}

/* ############## Notificaciones ##############*/

.notificaciones{
    position: fixed;
    width: 400px;
    top: 100%;
    left: calc(100% - 450px);
    max-height: calc(100% - 98px);
    background: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    height: auto;
    z-index: 999;
}

.notificaciones::-webkit-scrollbar{
    background: rgba(0, 182, 173, 0.18);
}
.notificaciones::-webkit-scrollbar-thumb {
    background: rgba(0, 182, 173, 0.58);
}

.notificacion{
    display: block;
    padding: 5px 0;
    border-bottom: 1px solid #b3d2d0;
}

.notificacion:hover{
    background: #ddeceb;
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 0 15px #1a948b;
}

.userNotify{
    color: #1db383;
    cursor: pointer;
}

.imgNotify{
    vertical-align: top;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 10px;
}

.imgNotify img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.contNotify{
    vertical-align: middle;
    display: inline-block;
    width: calc(100% - 68px);
    padding: 10px 0;

}

.contNotify p{
    vertical-align: middle;
    padding: 0 5px;
}

.btnsNotify{
    display: block;
    text-align: center;
}

.btnNotify , .btnNotifyRojo{
    display: inline-block;
    width: auto;
    height: 35px;
    border-radius: 3px;
    background: #1dbd7b;
    color: #fff;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    margin-right: 14px;
    padding: 0 10px;
}

.btnNotifyRojo{
    background: #85242f;
}

.btnNotify:hover , .btnNotifyRojo:hover{
    background: #648bc8;
    transform: scale(1.1);
}

.fechaNotify{
    display: block;
    font-size: 0.85em;
    color: #5e5e5e;
    text-align: right;
    font-style: italic;
    margin: 7px 11px;
}

.notifyVista{
    opacity: 0.5;
}

.notifyVista:hover{
    opacity: 1;
}

/* ############## Chat ##############*/

.circulosChat{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin-left: 10px;

}

.conectado{
    background: #a2ff67;
    box-shadow: 0 0 13px #89ff17;
}
.ausente{
    background: #ffc81a;
    box-shadow: 0 0 13px #ffe500;
}
.ocupado{
    background: #ff2300;
    box-shadow: 0 0 13px #ff4300;
}
.especial{
    background: #b500ff;
    box-shadow: 0 0 13px #f700ff;
}
.desconectado{
    background: #244246;
}

.colorPP{color: #008077;}

.chatsDesplegables{
    position: fixed;
    top: calc(100% - 50px);
    left: 0;
    height: 50px;
    background: rgba(0, 128, 119, 0.52);
    width: calc(100% - 517px);
    z-index: 999;
}

.menuChatDerecho{
    width: 300px;
    height: calc(100% - 50px);
    background: #ffffff;
    color: #fff;
    position: fixed;
    left: calc(100%);
    top: 0;
    z-index: 999;
    border-left: 1px solid #008077;
}

.chatParteSuperior{
    display: block;
    color: #008077;
    padding: 8px;
}

.chatParteSuperior i{
    font-size: 1.5em;
}

.eligeEstado{
    width: 85%;
    text-align: right;
}
.eligeEstado , .eligeEstado *{
    display: inline-block;
}
.eligeEstado span{
    margin-right: 10px;
    font-weight: bold;
}

.filtradoChat{
    display: block;
    text-align: center;
    margin-left: 9%;
}

.buscarContacto{
    display: block;
    width: 80%;
    margin: 20px 0;
    margin-left: 10%;
}

#cerrarChatDerecho:hover{
    cursor: pointer;
    font-size: 1.6em;
    color: #24c1b6;
}

.contactoChat{
    display: block;
    padding: 7px 0;
}

.contactoChat:hover{
    background: #eff9f6;
    cursor: pointer;
}

.contactoChat .userChat , .userChatInfo{ display: inline-block;     vertical-align: middle;}

.userChatInfo{
    height: 45px;
    width: 70%;
}

.userChatInfo p{
    margin: 4px 0 4px 10px;
    color: #565656;
}

.tipoUser{
    font-size: 0.75em;
    background: #1db383;
    color: #fff;
    margin: 0;
    margin-left: 10px;
    padding: 2px 5px;
    width: 72px;
    border-radius: 20px;
    text-align: center;
}

.contactoChat .userChat{
    width: 48px;
    height: 48px;
}

.estadoChatcontacto {
    position: absolute;
    top: 10px;
    left: 28px;
    width: 10px !important;
    height: 10px !important;
}

/* ################ Scouting ############ */

.filtrosScout{
    display: block;
    margin-top: 52px;
}

.filtrosScout * , .filtroUnCont * ,.sliderInputs , .filtroSlider{
    display: inline-block;
}

.filtroUnCont {
    width: 242px;
    vertical-align: middle;
}

.filtroSlider{
    padding-top: 13px;
}

.sliderInputs{
    width: 200px;
    vertical-align: top;
}

.pretencionSlider{
    color: #008077;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    margin-top: 20px;
    margin-left: 22px;
}

.labelFilter{
    color: #008077;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    margin-left: 10px;
}

.rangeWrap {
    width: 40%;
}
.rangeWrap input {
    width: 100%;
    margin: 0;
}
.rangeWrap .ticks {
    display: flex;
    justify-content: space-between;
    height: 6px;
    margin: -1.5em 5px 0 6px;
    font: 10px Arial;
    counter-reset: count -1;
}
.rangeWrap .ticks > div {
    height: 100%;
    width: 1px;
    background: silver;
    counter-increment: count 1;
}
.rangeWrap .ticks > div:nth-child(5n - 4) {
    height: 200%;
}
.rangeWrap .ticks > div:nth-child(5n - 4)::before {
    display: block;
    content: counter(count,decimal);
    transform: translate(-50%, 100%);
    text-align: center;
    width: 16px;
}

.jugadoresScouting{
    display: block;
    width: 100%;
    padding: 15px;
}

.jugadorScout {
    width: 244px;
    min-height: 350px;
    box-shadow: 0 0 15px #3f5742;
    margin: 10px;
    cursor: pointer;
    padding-bottom: 12px;
}

.jugadorScout:hover{
    transform: scale(1.05);
}

.jugadorScout img{
    width: 100%;
}

.JSestadisticas{
    display: block;
    width: 100%;
    margin: 7px 0;
}

.JSI{
    display: block;
}

.JSI h4{
    width: 100%;
    color: #1db383;
    text-align: center;
}

.JSI span{
    display: inline-block;
    width: 32%;
    font-size: 0.85em;
    text-align: center;
}

.JSE{
    width: 49%;
    display: inline-block;
    text-align: center;
    margin: 3px 0;
    font-weight: bold;
}

.JSE span{
    display: inline-block;
}

.JSE_pre{
    width: 66%;
    text-align: right;
}

.JSE_60{color: #bc814b}
.JSE_70{color: #c5b331}
.JSE_80{color: #a7bc49}
.JSE_90{color: #36a41d}
.JSE_95{color: #1dbfa3}

.aptitudesBasicas{
    display: block;
    width: 100%;
    padding: 5px;
}

.JSEposU{
    width: 45%;
}

.JSEpos{
    width: 72px;
    text-align: center;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
    height: 24px;
    vertical-align: top;
}

.cDelantero{background: #c2533e;}
.cMediocampista{background: #5bc27e;}
.cDefensor{background: #2375c2;}
.cPortero{background: #c2ae39;}

.JSEpie{
    width: 116px;
    text-align: center;
    background: #29a0c2;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
    height: 24px;
    vertical-align: top;
}

.pretencionesJugador{
    display: block;
}

.pretencionesJugador *{
    width: 100%;
    text-align: center;
}

.PEconomica{
    width: 100%;
    text-align: center;
    color: #59b356;
    font-weight: bold;
    display: block;
}

/* ################ Tabla propuestas ############ */

.bloqueModalTabla , .contenidoPropuestaFinal{
    width: 100%;
    display: block;
    vertical-align: top;
}

.PropuestaUser{

}

.PropuestaUser .userChat {
    display: inline-block;
}

#tituloAsuntoPropuesta{
    padding: 15px 33px;
    font-size: 1.3em;
    color: #1db383;
}

#txtAsuntoPropuesta{
    padding: 15px 33px;
}


/* ################ Partes genericas ############ */

.contenedotGeneral{
    width: 100%;
    min-height: 750px;
    background: #ffffff;
    padding-top: 50px;
}

.tablaGenerica , .filaGenerica , .filaGenericaBG , .filaInfo , .containerFilas{
    display: block;
    width: 100%;
}

.filaGenerica , .filaGenericaBG , .filaInfo{
    background: #f3f3f3;
    min-height: 50px;
    line-height: 32px;
}

.filaInfo{
    background: #1db383;
}
.filaGenericaBG{
    background: #1db38373;
}

.TGusuario{
    width: 250px;
    display: inline-block;
}

.TGasunto{
    width: calc(80% - 180px);
    display: inline-block;
    text-align: center;
    color: #fff;
}

.TGopciones{
    width: 150px;
    display: inline-block;
    text-align: center;
    color: #fff;
}

.filaInfo .TGusuario{
    width: 250px;
    display: inline-block;
    text-align: center;
    line-height: 47px;
    color: #FFF;
}

.TGusuario * , .TGasunto * , .TGopciones *{
    display: inline-block;
}

.TGusuario span , .TGasunto span {
    color: #797886;
    margin-left: 5px;
}

.btnTable{
    cursor: pointer;
}

.btnTable:hover{
    transform: scale(1.5);
}

.cVerAsunto{color: #00a097 }
.cAceptarAsunto{color: #00c542
}
.cCancelarAsunto{color: #c75646
}





/* ############## Formulario genericos ##############*/

.inputGenerico{
    border: none;
    border-bottom: 1px solid #5e5e5e;
    width: 99%;
    outline: 0;
    margin: 6px 2px;
    font-size: 0.98em;
}


.inputTextDoble{
    width: calc(50% - 10px);
    margin-right: 4px;
}

.selectGenerico{
    width: 45%;
    margin: 2%;
    outline: 0;
    height: 35px;
    color: #247b75;
    border: 1px solid #008077;
    background: #fff;
}

.boxes {
    margin: 13px;
}

.numGenerico-2 , .numGenerico-4{
    border: none;
    border-bottom: 1px solid #5e5e5e;
    width: 40px;
    outline: 0;
    margin: 6px 2px;
    font-size: 0.98em;
    display: inline-block;
}
.numGenerico-4{ width: 80px}

.txtCenter{text-align: center}


.inputGenerico:focus , .focusGenerico:focus{
    color: #172242;
    background: #fafafa;
    border-bottom: 1px solid #008077;
}

/* ############## Modal central ##############*/
.modalCentral{
    min-width: 475px;
    position: fixed;
    top: calc(50% - 175px);
    left: calc(50% - 237px);
    background: #fff;
    z-index: 1000;
    box-shadow: 0 0 15px #858586;
    text-align: center;
    display: none;
}
.modalCentral p{
    max-width: 475px;
    padding: 10px;
    text-align: center;
    z-index: 9999;
}

.simbolo i{
    font-size: 4em;
}

.modalC-ok{color: #04bc3e}
.modalC-error{color: #db1300}
.modalC-alerta{color: #ece82c}
.modalC-neutro{color: #00afd1}

.w150{width: 150px!important;}
.w200{width: 150px!important;}
.w250{width: 150px!important;}
.w300{width: 150px!important;}

/* ########## cargando AJAX ########### */

.cargandoAjax{
    position: fixed;
    top: calc(100% - 150px);
    left: 100%;//calc(100% - 200px);
    width: 180px;
    text-align: center;
    z-index: 9999;
    background: #008077;
    color: #fff;
    padding: 7px 10px;
}

.imgCargandoAjax{
    display: inline-block;
    width: 30px;
    height: 30px;

}

.imgCargandoAjax img{
    width: 100%;
    height: 100%;
}

.cargandoAjax span{display: inline-block;margin-left: 5px}

/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    font: 14px/20px 'Open Sans', Arial, sans-serif;
    color: #575757;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #00a097;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}



/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
    /* STYLES GO HERE */
}


@media only screen
and (max-width : 1500px) {
    .sobrePerfil , .videoPresentacion{
        display: block;
        text-align: center;
    }

    .sobrePerfil{
        width: 580px;
        margin-left: calc(50% - 290px);
    }

    .followPerfil{
        height: 700px;
    }

    .videoPresentacion{
        padding-top: 100px;
        margin-left: calc(50% - 295px);
    }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
    /* STYLES GO HERE */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (max-device-width : 1024px) {
    .perfilPP{
        display: none;
    }

    .contenidoPerfil{
        margin-left: 0;
        width: 100%;
    }

    .grid{
        margin: 0 auto;
    }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    /* STYLES GO HERE */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    /* STYLES GO HERE */
}

@media only screen
and (max-device-width : 665px) {

    .sobrePerfil {
        width: 100%;
        margin-left: -5%;
    }

    .sinVideoMarco {
        width: 90%;
        margin-left: 5%;
    }

    .videoPresentacion {
        width: 100%;
        margin-left: 0;
    }

    .contModalContiguo .videoPresentacion{
        padding-top: 10px;
    }

    .chatsDesplegables {
        display: none;
    }

    .menuInferior {
        width: 100%;
        left: -1px;
    }

    .btnMenuInf {
        width: 19%;
        margin-left: 0.3%;
    }

    .btnMenuInf .userChat {
        margin-left: calc(50% - 21px);
    }

    .notificaciones {
        width: 85%;
        left: 7.5%;
    }

    .clubSelector{
        text-align: center;
    }

    .tabsGeneric {
        width: 100%;
    }
    .tabGenericOption ,.tabGenericOptionSelected{
        width: 49%;
        text-align: center;
    }

    .formsMiPerfil{
        width: 100%;
        padding: 5%;
        margin: 0;
    }

    .contImgDelPerfil{
        display: block;
        text-align: center;
        margin-left: calc(50% - 122px);
    }

    .contModalContiguo span{
        text-align: center;
        margin: 7px;
    }
    .objCarrera{
        width: 95%;
        margin: 2%;
    }

    .contModalOptonsB{
        text-align: center;
    }
    .pretencionesDeportista{
        display: block;
    }

    .objetivosAsks{
        width: 100%;
    }
    .objetivosAsks .selectGenerico{
        margin-left: 27%;
    }

}


/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen
and (min-device-width : 0)
and (max-device-width : 568px) {
    .bginicio{
        background-image: url("../img/bg_m.jpg");
    }

    .logoMin{
        display: none;
    }

    .buscdorMenu{
        width: calc(100% - 86px);
    }

    .contenidoModal{
        width: 95%;
        margin-left: 2.5%;
    }


}

/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
    /* STYLES GO HERE */
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 0)
and (max-device-width : 480px) {

    .especBuscador{
        left: calc(50% - 140px);
    }
    .buscdorMenu{
        width: 100%;
        padding: 4% 1%;
    }
    .logoPatrocinadorMenu{
        display: none;
    }

    .centroHome{
        width: 95%;
        margin-left: 2.5%;
    }

    .buscdorMenu input{
        width: calc(100% - 45px);
    }

    .item-tipo-cuenta{
        width: 113px;
        height: 113px;
        padding-top: 29px;
        margin: 2%;
    }
    .item-tipo-cuenta i{
        font-size: 1.7em;
    }

    .btnOpcionFollow{
        float: none;
        display: block;
        width: 150px;
        margin: 19px 0;
        margin-left: calc(50% - 75px);
    }

    .btnTimeline{
        width: 85%;
        margin-left: 12.5%;
        float: none;
    }

    .sinVideoMarco{
        height: 210px;
    }

    .sinVideoMarco p{
        line-height: 218px;
    }
    .btnMenuInf{
        margin-left: 0.1%;
    }

    .miVideoPresentacionEdit .videoPresentacion{
        min-height: 0;
    }

    .item-tipo-cuenta span {
        font-size: smaller;
    }

    .tituloModal h2{
        font-size: 1.6em;
    }
}

/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
    /* STYLES GO HERE */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
    /* STYLES GO HERE */
}

/* Smartphones special (portrait) ----------- */
@media only screen
and (max-width : 380px) {
    .tabGenericOption, .tabGenericOptionSelected{
        font-size: small;
    }

    .cerrarMoldaPerfil i{
        font-size: 1.6em;
    }

    .tituloModal h2{
        font-size: 1.3em!important;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 360px) {
    #btnsLogin *{
        display: block!important;
    }

    #btnOlvideCuenta , #btnIniciarSesion{
        float: none;
        width: 240px;
        margin-left: calc(50% - 120px);
        margin-bottom: 14px;
    }

    #headerReg{
        font-size: 1.8em;
    }

    .btnMenuInf {
        width: 18%;
    }

    .btnMenuInf span{
        display: none;
    }

    .btnMenuInf i{
        font-size: 1.5em;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
    .tabGenericOption, .tabGenericOptionSelected{
        font-size: smaller;
    }
}

